/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
